<div class="container w-100 border-bottom border-dark">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Sejam, bem-vindes ao meu blog</h1>
        </div>
    </div>
    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur officiis qui explicabo, eum dolore unde optio obcaecati temporibus maiores quod? Maxime aperiam maiores doloremque mollitia eos. Quae repellat possimus illum. Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Beatae necessitatibus ipsam sunt nesciunt, laboriosam quibusdam obcaecati ullam corporis fuga totam voluptas eum, facere minus cumque voluptatum saepe ut. Dolor, molestiae!
            </p>
        </div>
    </div>
</div>
<div class="parallax">
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
</div>
<div class="row w-100 mt-5 mb-5 ">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weigth-bold" routerLink='/feed'>Ver o feed</button>
    </div>
</div>