<!-- FOOTER -->
<footer>
    <div class="row w-100 d-flex justify-content-center ">
        <div class="col-md-12 ">

        </div>
    </div>
    <div class="row mb-3 w-100">
        <div class="col-md-12 d-flex justify-content-center ">

            <a href="https://github.com/LssLucas " target="_blank " class="p-3 " title="GitHub">
                <!--<img class="tm-social" src="assets/GitHub-Mark.png " alt="Perfil do GitHub ">-->
                <fa-icon [icon]="faFacebook" class="faFacebook fa-3x p-3"> </fa-icon>
            </a>

            <a href="https://www.linkedin.com/in/lucas-silveira-dos-santos/ " target="_blank " class="p-3 " title="LinkedIn">
                <!--<img class="tm-social" src="assets/linkedin.png " alt="Perfil do Linkedin ">-->
                <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"> </fa-icon>
            </a>
        </div>
    </div>

    <div class="row w-100">
        <div class="col-md-12 ">
            <p class="text-center ">
                Lucas Silveira dos Santos -
                <a href="https://brazil.generation.org/ " title="Generation Brasil">Generation Brasil</a>
            </p>
        </div>
    </div>
</footer>
<!-- FOOTER -->