<div class=" border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle h-75 w-75 mt-3" src="../../assets/img/perfil.jpg" alt="Card image cap">
    </div>
    <div class="card-body">
        <h5 class="card-title text-center text-monospace">Lucas Silveira dos Santos</h5>
        <p class="card-text text-justify text-monospace">No caminho de me tornar Desenvolvedor de Sistemas PHP+MySQL e Desenvolvedor Júnior Java Full Stack</p>
        <a href="https://github.com/LssLucas" class="btn btn-primary mb-3 justify-content-center d-flex" target="blank">
            Me dá uma dicas?
        </a>
        <a href="https://www.linkedin.com/in/lucas-silveira-dos-santos/" class="btn btn-primary w-3 justify-content-center d-flex" target="blank">
            Vamos cê conectar
        </a>
    </div>
</div>